:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    /* font weights */
    --light: 400;
    --regular: 500;
    --bold: 700;
    --spartan: "League Spartan", sans-serif;
    --base: 15px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 4rem 8rem;
    background-color: var(--white);
    color: var(--very-dark-magenta);
    font-family: var(--spartan);
    font-size: var(--base);
    font-optical-sizing: auto;
    font-style: normal;
    min-height: 80vh;
    max-height: 98vh;
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

header {
    max-width: 40vw;
    height: fit-content;
}

/* ratings */
.ratings {
    width: 100%;
    max-width: 420px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    ;
}

.ratings > div {
    width: 70%;
    max-width: 315px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: var(--light-grayish-magenta);
    margin: 0.5rem 0;
    padding: 0.8rem;
}

.ratings > div p {
    font-weight: var(--bold);
    margin: 0px;
    margin-left: 1rem;
}

.stars {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.stars img {
    height: 0.7rem;
    width: auto;
    padding: 1px;
}

.ratings > div:first-child {
    align-self: flex-start;
}

.ratings > div:last-child {
    align-self: flex-end;
}

/* reviews */
.reviews {
    display: flex;
    flex-direction: row;
    gap: 2em;
    height: fit-content;
    align-items: start;
    align-self: flex-end;
}

.reviews > div {
    height: auto;
    min-height: 150px;
    background-color: var(--very-dark-magenta);
    color: var(--white);
    padding: 2rem 1.5rem;
    /*margin: 1em;*/
    border-radius: 0.5rem;
    transition: scale rotate;
    transition-duration: 0.2s;
}

.profile-info {
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    gap: 1rem;
}

.name {
    display: block;
    height: auto;
}

.profile-info img {
    display: block;
    height: 2.5rem;
    width: auto;
    border-radius: 50%;
    margin: 0;
}

#second {
    margin-top: 1.5rem;
}

#third {
    margin-top: 3rem;
}

.reviews > div:hover {
    rotate: -1deg;
    scale: 1.05;
    transition: scale rotate;
    transition-duration: 0.2s;
    background-image: linear-gradient(95deg, hsla(300, 43%, 22%, 0) 0%, hsla(300, 40%, 29%, 0.597) 45%, hsla(300, 43%, 22%, 0) 65%);
    animation: slidebg 5s linear infinite;
}

@keyframes slidebg {
    to {
        background-position: 60vw;
    }
}

/*text*/
h1 {
    font-size: 4rem;
    font-weight: var(--bold);
    line-height: 0.8;
    margin: 0;
}

h2 {
    font-size: var(--base);
    font-weight: var(--regular);
    line-height: 1.5;
    margin: 3rem 0 4rem;
    text-wrap: balance;
}

h3 {
    font-weight: var(--bold);
    color: var(--white);
    margin: 0;
}

.verified {
    font-weight: var(--light);
    color: var(--soft-pink);
    margin: 2px 0 0;
}

p {
    line-height: 1.5;
    margin: 1.5rem 0 0;
    text-wrap: balance;
}

@media screen and (width <=1110px) {
    body {
        margin: 4rem 3rem;
    }
}

@media screen and (width <=900px) {
    body {
        margin: 4rem 3rem;
    }

    header {
        max-width: max-content;
    }

    section {
        flex-direction: column;
    }

    .ratings {
        max-width: stretch;
    }

    .ratings > div {
        width: 100%;
        max-width: stretch;
    }

    .ratings > div:first-child {
        align-self: center;
    }

    .ratings > div:last-child {
        align-self: center;
    }

    .reviews {
        flex-direction: column;
    }

    #second {
        margin-top: inherit;
    }

    #third {
        margin-top: inherit;
    }

    h1 {
        text-align: center;
    }

    h2 {
        margin: 2.5rem 0;
        text-align: center;
    }

    .ratings {
        margin-bottom: 2.5rem;
        max-width: none;
        width: 100%;
    }

    .ratings > div {
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .stars {
        margin: 0.2rem;
    }

    .reviews {
        margin-bottom: 2rem;
    }

    .reviews > div {
        min-height: none;
    }

    .reviews > div:hover {
        rotate: 0deg;
        scale: 1;
        transition: none;
        transition-duration: 0.2s;
        background-image: none;
        animation: none;
    }
}

@media screen and (width <=520) {
    background-image: url(images/bg-pattern-top-mobile.svg),
    url(images/bg-pattern-bottom-mobile.svg);
    background-size: 100%,
    100%;
}